# It is recommended to install a specific version of langchain 
# to ensure that dependent libraries (langchain-core, langgraph, etc.) 
# are installed in compatible versions.
langchain==1.0.8
opensearch-py
boto3
langgraph
numpy
